<div class="col-xs-12 text-center">
    <i class="far fa-check-circle"
       style="color: #d4d4d4;font-size: 48px;">
    </i>
</div>
<div class="col-xs-12 text-center" style="margin: 30px 0;">
    <span class="font-good-vibes secondary-color-1 text-size-42">
        Confirm Payment Success
    </span>
</div>
<div class="col-xs-12 text-center">
    <p style="margin: 0;">
        Your payment order: 2000000438 has been confirmed.
    </p>
    <p>
        Thank you for shopping with us
    </p>
</div>

<div class="col-xs-12 text-center" style="margin-top: 20px;">
    <button style="
    padding: 8px 16px;
    border-radius: 30px;
    background: #c5a537;
    color: #fff;
    text-transform: uppercase;
    border: #c5a537;
    outline: none;
">Continue Shopping
    </button>
</div>