/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
 .post-view {
    text-align: center;
 }
 .post-view .detail{
 font-family: 'Karla';
     font-weight: 700;
     font-size: 40px;
     text-transform: uppercase;
 }